

.random-images-wrapper a {
    position: relative;
    width: 100%;
    height: auto;  
  }
  
.random-images-wrapper a img {
    display: block;
    width: 100%;
    height: auto;

  }


  
.random-images-wrapper a  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 99%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(255, 255, 255);
    margin: 0;
  }
  

.galery-images  .container:hover .overlay {
    opacity: 90%;
  }


  .text {
    color: rgb(12, 12, 12);
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    font-variant-caps: titling-caps;


   
  }

@media screen and (max-width: 500px) {
    .text { 
    color: rgb(37, 37, 37);
    font-size: 0.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-variant-caps: titling-caps;
    align-content: right;

}
}