.galery {
    display: block;
    padding-top: 40px;
    padding-bottom: 100px;
    padding-left: 27%;
    width: 70%;
}

@media screen and (max-width: 500px) {
    .galery {
        flex-direction: column;
    }
}

.galery-header {
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: top;
    max-height: 400px;

}

.galery .galery-header h5 {
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 14pt;
    letter-spacing: 1px;
    
}

@media screen and (max-width: 768px) {
    .galery .galery-header h5 {
        font-size: 1em;
        letter-spacing: 1px;
    }
}

.galery-images {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
    .galery-images {
        width: 100%;
        display: block;

    }
}

.galery-images div {
    height: auto;
    width: 30%;
    margin: 16px 2%;
    flex-basis: 40%;

}

@media screen and (max-width: 500px) {
    .galery-images div {
        width: 100%;
        display: block;
        height: auto;
    }
}



.galery-images div img {
    overflow: hidden;
    max-width: 99%;
    height: auto;
    border: 1px solid white;
 
}



@media screen and (max-width: 500px) {
    .galery-images div img {
        height: auto;
        max-width: 97%;

    }
}


/* effect */

.galery-images .container {
    position: relative;
    width: 100%;
    height: auto;  
  }
  
.galery-images .container .image {
    display: block;
    width: 100%;
    height: auto;

  }
  
.galery-images .container  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 99%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(255, 255, 255);
    margin: 0;
  }
  
.galery-images  .container:hover .overlay {
    opacity: 90%;
  }


  .text {
    color: rgb(12, 12, 12);
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    font-variant-caps: titling-caps;
    position: absolute;
    transform: translate(20%, 40%);
   
  }

@media screen and (max-width: 750px) {
    .text { 
    color: rgb(37, 37, 37);
    font-size: 0.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-variant-caps: titling-caps;
    align-content: center;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-100%, -60%);
    -ms-transform: translate(-50%, -50%);
}
}