body {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

/* button   */

.header {
    display: flex;
}

.outer {
    position: relative;
    margin: 0;
    width: 40px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .inner {
    width: inherit;
    text-align: center;
  }
  
  label { 
    font-size: .8em; 
    line-height: 3em;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    transition: all .3s ease-in;
    opacity: 0;
    cursor: pointer;
  }

  label a {
      text-decoration: none;
      color: black;
  }
  
  .inner:before, .inner:after {
    position: absolute;
    content: '';
    height: 1px;
    width: inherit;
    background: rgb(0, 0, 0);
    left: 0;
    transition: all .3s ease-in;
  }
  
  .inner:before {
    top: 50%; 
    transform: rotate(45deg);  
  }
  
  .inner:after {  
    bottom: 50%;
    transform: rotate(-45deg);  
  }
  
  .outer:hover label {
    opacity: 1;
  }
  
  .outer:hover .inner:before,
  .outer:hover .inner:after {
    transform: rotate(0);
  }
  
  .outer:hover .inner:before {
    top: 0;
  }
  
  .outer:hover .inner:after {
    bottom: 0;
  }




.introduction {
    display: flex;
}

@media screen and (max-width: 420px) {
    .introduction {
        display: flex;
        flex-direction: column;
    }
}

.introduction .title {
    display: flex;
    width: 55%;
    height: auto;
}

.introduction .title div {
    width: 100%;
}

@media screen and (max-width: 420px) {
    .introduction .title {
        width: 100%;
        height: auto;
    }
}

.introduction .title h2 {
    font-size: 3.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    padding-left: 15%;
    margin: 0;
}

.introduction .title h3 {
    font-size: 2.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    padding-left: 15%;
    margin: 0;
    color: rgb(77, 77, 77);
}


.introduction .project-detail {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    background: white
}

@media screen and (max-width: 420px) {
    .introduction .project-detail {
        width: 100%;
        display: flex;
        flex-direction: column;
     
    }
}

.introduction .project-detail div {
    height: auto;
    width: 40%;
    flex-basis: 40%;
    overflow: hidden;
    margin: 1% auto;
}

.introduction .project-detail div img {
    height: auto;
    width: 30%;
    margin: auto 35%;
    margin-top: 10%;
}

.introduction .project-detail div p {
    font-size: 0.7em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;

    
}

.image-intro {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;;
    padding-top: 80px;
    padding-left: 30px;
    padding-bottom: 30px;
}

@media screen and (max-width: 420px) {
    .image-intro {
        overflow: hidden;
        width: 100%;
        height: auto;
        padding: 0;
        padding-top: 50px;

    }
}

.image-intro img {
    width: 100%;
    height: auto;
}

.description {
    display: block;
    width: 90%;
    height: auto;
    margin-top: 40px;
    margin-left: 6%;

}

.description div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description div h3 {
    font-size: 1.5em;
    padding-left: 40px;
    padding-bottom: 20px;
}

@media screen and (max-width: 420px){
    .description div h3 {
        padding: 0;
    }
}

.description div h4 {
    font-weight: normal;
    font-size: 1em;
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 20px;
    text-align: justify;
}

@media screen and (max-width: 420px){
    .description div h4{
        padding: 0;
        padding-bottom: 30px;
    }
}

.description div ul {
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 40px;
}

@media screen and (max-width: 420px) {
    .description div ul {
        padding: 0;
    }
}

.description div ul li{
    font-size: 0.9em;
    text-align: justify;
}

/* mockup details */

.images {
    overflow: hidden;
        width: 100%;
        height: auto;
        padding: 0;
        padding-top: 30px;
}

.images div ul {
    margin: auto 0;
    text-align: center;
  
}

@media sreen and (max-width: 420px) {
    .images div ul {
        padding-left: none;
    }
}

.images div ul li {
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    list-style: none;
    letter-spacing: 1.2px;
}

/* IMAGES */

.images .project-image-1 {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 30px;
   
}

@media screen and (max-width: 420px) {
    .images .project-image-1 {
        display: flex;
        flex-direction: column;
    }
}


.images .project-image-1 div img {
    width: 70%;
    height: auto;
    margin: auto 18%;

}

.images .project-image-1 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 1em;
}

.images div h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    text-align: center;
    font-weight: normal;
    padding-bottom: 40px;
    padding-top: 10px;
    letter-spacing: 1px;
}

/* more project */

.learn-more {
    height: 100px;
    width: 300px;
    margin: 0 auto;
    padding-top: 6%;
}

.learn-more p {
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    
}

.random-images-wrapper {
    display: flex;
    padding-top: 10px;
    padding-bottom: 120px;
    margin: 0 6%;
}

@media screen and (max-width: 700px){
    .random-images-wrapper {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        width: 60%;
        height: 60%;
        margin: auto;

    }
}

.random-images-wrapper img {
    flex-direction: row;
    height: 200px;
    width: 300px;
    margin: 10px;
  
    }

@media screen and (max-width:700px) {
    .random-images-wrapper img {
        width: 100%;
        height: auto;
        margin: auto;
        padding-bottom: 10px;

    }
}



 /* closing main part */
 
 .main {
     border-bottom: 1px solid rgb(153, 153, 153);
     padding-bottom: 100px;
 }

/* button back top*/

.button-scrollup {
    width: 100%;
    padding-bottom: 10%;
    
}

.button-scrollup div {
    height: 20px;
    width: 120px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0 auto;
    padding: 1%;
}

.button-scrollup div a {
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    text-decoration: none;
    padding-left: 4px;
    
}

html {
    scroll-behavior: smooth;
}


